<div class="alert alert-error alert-warning" ng-show="error">{{errorMessage}}</div>
<form class="form-horizontal">

	<div class='contentWrapper ng-cloak'>


		<div class="btn btn-droppable" ng-repeat="item in list5"
			data-drop="true" ng-model='list5'
			data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"
			jqyoui-droppable="{index: {{$index}}}">
			<div class="btn btn-info btn-draggable" data-drag="true"
				data-jqyoui-options="{revert: 'invalid'}" ng-model="list5"
				jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}"
				ng-hide="!item.name">{{item.name}}</div>
		</div>
		<br> <br>




		<div class="list1 thumbnail" data-drop="true" ng-model='game.team1'
			data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true}">
			<div class="btn btn-info btn-draggable"
				ng-repeat="item in game.team1" ng-show="item.name"
				data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}"
				ng-model="game.team1"
				jqyoui-draggable="{index: {{$index}},animate:true}">{{item.name}}</div>
		</div>

		<div class="thumbnail list2" data-drop="true" ng-model='game.team2'
			data-jqyoui-options="optionsList2" jqyoui-droppable="{multiple:true}">
			<div class="btn btn-info btn-draggable"
				ng-repeat="item in game.team2" ng-show="item.name"
				data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}"
				ng-model="game.team2"
				jqyoui-draggable="{index: {{$index}},animate:true}">{{item.name}}</div>
		</div>
	</div>


	<div class="form-group">
		<span class="col-md-10 control-label">Result</span>
		<div class="col-md-10">
			<div class="form-group row">
				<label for="inputKey" class="col-md-2 control-label">Team 1</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="inputKey"
						placeholder="result" ng-model="game.result_team1">
				</div>
				<label for="inputValue" class="col-md-2 control-label">Team
					2</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="inputValue"
						placeholder="result" ng-model="game.result_team2">
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="form-group">
		<label class="control-label" for="date">Date of the game </label>

		<div class="controls">

			<input class="span3 form-control" type="text" id="date"
				ng-model="game.date"
				placeholder="If you leave this in blank this will get date of the past tuesday.."
				required="" min="1" value="{{ dt.time | date }}">

		</div>

	</div>
	<div class="form-group">

		<hr>
		<div class="controls">
			<button type="button" class="btn btn-primary" ng-disabled=""
				ng-hide="editMode" ng-click="addNewGame(game)">Add Game</button>

			<button type="button" class="btn btn-primary"
				ng-disabled="!game.date" ng-show="editMode"
				ng-click="updateRailwayStation(game)">Save Game</button>
			<button type="button" class="btn btn-default"
				ng-click="resetGameForm()">Reset</button>
		</div>
	</div>
</form>
<hr>

<h3 style="color: #1ABC9C;">Games List</h3>
<div class="alert alert-info" ng-show="games.length == 0">No
	Players found</div>
<table class="table table-bordered table-striped"
	ng-show="games.length &gt; 0">
	<thead>
		<tr>
			<th style="text-align: center; width: 25px;">Id</th>
			<th style="text-align: center;">Team 1</th>
			<th style="text-align: center;">Team 2</th>
			<th style="text-align: center;">Result</th>
			<th style="text-align: center;">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in games | orderBy:predicate">
			<td style="text-align: center;">{{item.id}}</td>

			<td><span ng-repeat="player in item.team1">
					<p>{{player.name}}</p>
			</span></td>

			<td><span ng-repeat="player in item.team2">
					<p>{{player.name}}</p>
			</span></td>

			<td>{{item.result_team1}} : {{item.result_team2}}</td>

			<td style="width: 100px; text-align: center;">
				<button class="btn btn-danger btn-xs" ng-click="removeGame(item.id)">Remove</button>
				<button class="btn btn-success btn-xs" ng-click="editGame(item)">Edit</button>
			</td>
		</tr>
	</tbody>
</table>
